.blog-content {
    width:80%;
    height:200px;
    float:left;
}

.blog-image{
    width:20%;
    height: 200px;
    background-color: pink;
    float:left;
}

.container{
    width:800px;
}

.image-profile{
    width:50px;
    height:50px;
    float:left;
}

.blog-name{
    float:left
}

.some-p{
    margin-top:0px;margin-left:55px;
}

.navbar li{
    display: inline-block;
    /* selector 문법.
    navbar li: ~안에 있는 모든 자식
    navbar>li: ~안에 있는 직계 자식 */
    width: 60px;
    text-align: center;
    background-color: skyblue;
    padding: 5px;
    border-radius: 10px;
    border-color:pink;
    border-style: solid;
}

.navbar a{
    font-size:16px;
    text-decoration-line:none;
    /* 하이퍼링크 밑줄 없애는거. */
}