<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈 화면</title>
</head>
<body>

    <h1 style="text-align:center;">홈 화면</h1>
    <hr>

    <form action='/login' method="post">
        <div class="form-group"; style="margin:auto">
          <label for="exampleInputEmail1"; style="margin-left:51px">ID</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="m_id">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="m_pw">
        </div>
        <button type="submit" class="btn btn-primary"; style="border-radius: 7px; margin-left:162px; margin-top:5px; padding:5px 20px">Log-In</button>
      </form>


</body>
</html>