.main-back{
    width:100%;
    height:3000px;
    background-image:url(../image/info_bgr.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    margin:0;
    padding-top:100px;
    padding-left:50px;
}

.hiroo{
    color:white;
    font-size:70px;
    text-shadow: 2px 2px 2px gray;
}

.content{
    width:600px;
    font-size:17px;
    margin-top:20px;
    margin-left:10px;
    color:white;
    text-shadow: 1.5px 1.5px 1.5px gray;
}

.horizen{
    width:60%;
    margin-top:30px;
}