.main-back{
    width: 100%;
    height: 800px;
    background-image: url(../image/web-bgr.png);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:scroll;
    padding: 0.1px;
    float:left;
    position:relative;
    z-index:1;
}

.sub-text{
    color: white;
    font-size:25px;
    text-align: center;
    margin-top:250px;
    margin-bottom:20px;
    letter-spacing: 20px;
}

.main-text{
    width:100%;
    height:auto;
    margin-bottom:0px;
    color:white;
    font-size:40px;
    text-align: center;
    margin-top:10px;
    overflow:hidden;
    text-shadow: 2px 2px 3px gray;
    
}


.btn_group{
    width:500px;
    z-index:4;
    margin-left:auto;
    margin-right:auto;
    margin-top:23px;
}

.btn1{
    margin-right: -4px;
    border-bottom-left-radius:20px;
    border-top-left-radius:20px;
    border-left:none;
}

.btn2{
    margin-left: -3px;
    border-bottom-right-radius:20px;
    border-top-right-radius: 20px;
}

.btn{
    background-color: #0A82FF;
    color:white;
    padding:20px 60px 20px 60px;
    border-right: none;
    border-top:none;
    border-bottom:none;
    border-width:1.3px;
    border-color:whitesmoke;
    font-size: 15px;
    letter-spacing: 6px;
    cursor:pointer;

}

.btn:hover{
    background-color:white;
    transition:0.7s;
    color:#0A82FF
}

.logo{
    position:relative;
    top:-400px;
    left:50px;
    z-index:2;
    width:100%;
    height:100px;
    background-image:url(../image/login_logo.png);
    background-size: 20%;
    background-repeat:no-repeat;
    
}
